In [9]:
!uv add pandas
!uv add sqlalchemy
!uv add psycopg2-binary
!uv add tqdm
!uv add pyarrow

Resolved 14 packages in 5ms
Audited 13 packages in 4ms
Resolved 14 packages in 5ms
Audited 13 packages in 2ms
Resolved 14 packages in 6ms
Audited 13 packages in 2ms
Resolved 14 packages in 3ms
Audited 13 packages in 1ms
Resolved 15 packages in 337ms
Installed 1 package in 1.11s
 + pyarrow==22.0.0

In [20]:
import pandas as pd
import pyarrow.parquet as pq
import pyarrow as pa
from sqlalchemy import create_engine
from tqdm.auto import tqdm

In [21]:
#Urls:
prefix = 'https://d37ci6vzurychx.cloudfront.net/trip-data'
url = f'{prefix}/green_tripdata_2025-11.parquet'

prefix_2 = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc'
url_2 = f'{prefix_2}/taxi_zone_lookup.csv'

In [22]:
df_green_taxi = pd.read_parquet(
    url, 
    engine= 'pyarrow'
)

len(df_green_taxi)

46912

In [6]:
df_trip_zones = pd.read_csv(
    url_2
)

len(df_trip_zones)

265

In [92]:
df_trip_zones

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [70]:
pg_engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5433/ny_taxi')

In [71]:
print(pd.io.sql.get_schema(df_green_taxi, 
                           name='ny_green_taxi_trips')
     )

print(pd.io.sql.get_schema(df_trip_zones, 
                           name='ny_trip_zones')
     )

CREATE TABLE "ny_green_taxi_trips" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL,
  "cbd_congestion_fee" REAL
)
CREATE TABLE "ny_trip_zones" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [94]:
t1_name = 'ny_green_taxi_trips'
t2_name = 'ny_trip_zones'

def main():
    
    try: 
        df_green_taxi = pd.read_parquet(
            url, 
            engine= 'pyarrow'
        )   
        
        table_green_taxi_pa = pa.Table.from_pandas(df_green_taxi)

        total_rows_t1 = 0
        
        for batch_no, batch in tqdm(enumerate(table_green_taxi_pa.to_batches(max_chunksize=10000), start=1)):
            df_batch = batch.to_pandas()
            df_batch.to_sql(name= t1_name, 
                            con= pg_engine, 
                            if_exists= 'replace'
                                    )
            total_rows_t1 = total_rows_t1 + len(df_batch)
            print(f'{len(df_batch)} Rows were added to the {t1_name} table; Batch No. {batch_no}')
    
    except: 
        print(f'An error ocurred ingesting {t1_name}')

    finally: 
        print(f'Total {total_rows_t1} rows added')
        
# 
    try:
        df_trip_zones = pd.read_csv(
            url_2, 
            iterator= True, 
            chunksize= 50
        )

        total_rows_t2 = 0
        
        for chunk_no, df_no in tqdm(enumerate(df_trip_zones, start= 1)):
            df_no.to_sql(name= t2_name,
                         con= pg_engine,
                         if_exists = 'replace'
                                )
            total_rows_t2 = total_rows_t2 + len(df_no)
            print(f'{len(df_no)} Rows were added to the {t2_name} table; Dataframe No. {chunk_no}')

    except: 
        print(f'An error ocurred ingesting {t2_name}')

    finally: 
        print(f'Total {total_rows_t2} rows added')
        

if __name__ == '__main__':
    main()

0it [00:00, ?it/s]

10000 Rows were added to the ny_green_taxi_trips table; Batch No. 1
10000 Rows were added to the ny_green_taxi_trips table; Batch No. 2
10000 Rows were added to the ny_green_taxi_trips table; Batch No. 3
10000 Rows were added to the ny_green_taxi_trips table; Batch No. 4
6912 Rows were added to the ny_green_taxi_trips table; Batch No. 5
Total 46912 rows added

0it [00:00, ?it/s]

50 Rows were added to the ny_trip_zones table; Dataframe No. 1
50 Rows were added to the ny_trip_zones table; Dataframe No. 2
50 Rows were added to the ny_trip_zones table; Dataframe No. 3
50 Rows were added to the ny_trip_zones table; Dataframe No. 4
50 Rows were added to the ny_trip_zones table; Dataframe No. 5
15 Rows were added to the ny_trip_zones table; Dataframe No. 6
Total 265 rows added