In [31]:
!pip install psycopg2
!pip install tqdm

Requirement already satisfied: psycopg2 in c:\users\daniel\appdata\local\programs\python\python310\lib\site-packages (2.9.11)
Requirement already satisfied: rich in c:\users\daniel\appdata\local\programs\python\python310\lib\site-packages (14.2.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\daniel\appdata\local\programs\python\python310\lib\site-packages (from rich) (4.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\daniel\appdata\local\programs\python\python310\lib\site-packages (from rich) (2.18.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\daniel\appdata\local\programs\python\python310\lib\site-packages (from markdown-it-py>=2.2.0->rich) (0.1.2)
Requirement already satisfied: tqdm in c:\users\daniel\appdata\local\programs\python\python310\lib\site-packages (4.67.1)
Requirement already satisfied: colorama in c:\users\daniel\appdata\local\programs\python\python310\lib\site-packages (from tqdm) (0.4.6)

In [53]:
import pandas as pd
import numpy as np
from sqlalchemy import engine, create_engine
from tqdm import tqdm
import time

In [45]:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/'
url = f'{prefix}green_tripdata_2019-10.csv.gz'

df = pd.read_csv(
    url
)

C:\Users\Daniel\AppData\Local\Temp\ipykernel_17700\2564447663.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(

In [46]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.00,0.50,0.5,0.00,0.00,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.00,3.25,0.5,0.00,0.00,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.50,0.50,0.5,0.00,0.00,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.50,0.50,0.5,0.00,0.00,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.00,0.50,0.5,2.26,0.00,NaN,0.3,13.56,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476381,NaN,2019-10-31 23:30:00,2019-11-01 00:00:00,NaN,NaN,65,102,NaN,7.04,29.57,2.75,0.5,0.00,0.00,NaN,0.0,32.82,NaN,NaN,NaN
476382,NaN,2019-10-31 23:03:00,2019-10-31 23:24:00,NaN,NaN,129,136,NaN,0.00,39.83,2.75,0.5,0.00,6.12,NaN,0.0,49.20,NaN,NaN,NaN
476383,NaN,2019-10-31 23:02:00,2019-10-31 23:23:00,NaN,NaN,61,222,NaN,3.90,23.11,2.75,0.5,0.00,0.00,NaN,0.0,26.36,NaN,NaN,NaN
476384,NaN,2019-10-31 23:42:00,2019-10-31 23:56:00,NaN,NaN,76,39,NaN,3.08,15.23,2.75,0.5,0.00,0.00,NaN,0.0,18.48,NaN,NaN,NaN
476385,NaN,2019-10-31 23:23:00,2019-10-31 23:56:00,NaN,NaN,56,215,NaN,6.84,36.12,2.75,0.5,0.00,0.00,NaN,0.3,39.67,NaN,NaN,NaN

In [47]:
len(df)

476386

In [48]:
dtypes = {
    'VendorID': 'Int64',
    'store_and_fwd_flag': 'object',
    'RatecodeID': 'Int64',
    'PULocationID': 'Int64',
    'DOLocationID': 'Int64',
    'passenger_count': 'Int64',
    'trip_distance': 'float64',
    'fare_amount': 'float64',
    'extra': 'float64',
    'mta_tax': 'float64',
    'tip_amount': 'float64',
    'tolls_amount': 'float64',
    'ehail_fee': 'float64',
    'improvement_surcharge': 'float64',
    'total_amount': 'float64',
    'payment_type': 'Int64',
    'trip_type': 'Int64',
    'congestion_surcharge': 'float64'
}

dates = [
    'lpep_pickup_datetime', 
    'lpep_dropoff_datetime'
]

In [58]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5433/ny_taxi')

In [50]:
print(pd.io.sql.get_schema(frame= df, 
                           name= 'ny_green_taxi')
     )

CREATE TABLE "ny_green_taxi" (
"VendorID" REAL,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

In [62]:
df = pd.read_csv(
    url, 
    dtype = dtypes, 
    parse_dates = dates,
    iterator = True,
    chunksize = 50000
)

In [63]:
table_name = 'ny_green_taxi'

for chunk_no, df_part in enumerate(df, start=1):
    df_part.head(0).to_sql(name= table_name, 
                   con= engine,
                   if_exists = 'replace'
                  )
    print(f'{len(df_part)} Rows were added to the {table_name} table; Dataframe No. {chunk_no}')

50000 Rows were added to the ny_green_taxi table; Dataframe No. 1
50000 Rows were added to the ny_green_taxi table; Dataframe No. 2
50000 Rows were added to the ny_green_taxi table; Dataframe No. 3
50000 Rows were added to the ny_green_taxi table; Dataframe No. 4
50000 Rows were added to the ny_green_taxi table; Dataframe No. 5
50000 Rows were added to the ny_green_taxi table; Dataframe No. 6
50000 Rows were added to the ny_green_taxi table; Dataframe No. 7
50000 Rows were added to the ny_green_taxi table; Dataframe No. 8
50000 Rows were added to the ny_green_taxi table; Dataframe No. 9
26386 Rows were added to the ny_green_taxi table; Dataframe No. 10